body{
    font-family: Arial, sans-serif;
    background-color: hsl(0, 0%, 95%);
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
button[type="submit"]{
    padding: 10px 20px;
    font-size: 2rem;
    font-weight: bold;
    background-color: hsl(122, 39%, 50%);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button[type="submit"]:hover{
    background-color: hsl(122, 39%, 40%);
}